body {
  margin: 0;
  background-color:azure;
}

button{
  margin: 13px;
}

label{
  text-align: center;
  padding-top: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
